.containerContador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60.55em;
}



.sub-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    height: 25em;
    border: 3px solid #65737e;
    border-radius: 1em;
    box-shadow: 0 0 8px #000;
    background-color: #a7adba;
}

.sub-container h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.sub-container label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 2em;
    text-align: center;
}

.sub-container input {
    width: 5em;
    height: 2.5em;
    outline: 0;
    font-size: 1em;
    text-align: center;
}

.buttons button {
    width: 7.5em;
    height: 3em;
    margin: 2em 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {
    .sub-container h1 {
        font-size: 2.2em;
    }

    .sub-container label {
        font-size: 1.5em;
    }

    .sub-container input {    
        height: 2em;
    }

    .buttons button {
        display: block;
        width: 10em;
        margin: 1em auto;
        height: 2.5em;
    }
}

@media screen and (max-width: 400px) {
    
    .sub-container {
        height: 22em;
    }
    
    .sub-container h1 {
        margin-top: 1em;
        font-size: 1.4em;
        font-weight: 500;
        word-break: break-all;
    }

    .sub-container label {
        font-size: 1.2em;
    }

    .sub-container input {   
        width: 3em; 
        height: 1.5em;
    }

    .buttons button {
        width: 5em;
        margin: 1.2em auto 1em;
        height: 2em;
    }
}