main {
  flex: 1;
  margin-left: 40px;
}

main ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

main li { 
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px #aaa;
}

main li:hover {
  box-shadow: 0 0 4px #aaa;
}

main img {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  margin-right: 10px; 
}

@media screen and (max-width: 1100px) {
  main ul {
    grid-template-columns: 1fr;
  }
}