.app__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1f26;
    color: #fff;
    margin-bottom: 150px;
    height: 450px;
    text-align: center;
}

.app__header h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.app__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__divisor {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 
.app__divisor hr{
    background: #aaa;
    flex: 1;
    margin: 50px 15px;
    height: 5px;
    border: none;
    border-radius: 5px;
 }